.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6ded8;
  gap: 20px;
}

.logoContainer > div {
  position: unset !important;
}

.logo {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  max-width: 150px;
}

.input {
  font-family: 'Fuji';
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 50px;
  text-align: center;
}